body {
  width: 960px;
  margin: 0 auto;
  background: rgba(198, 238, 252, 0.53);
  padding: 15px 0;
  box-sizing: border-box; }

#content {
  background: #3b3b3b;
  padding: 15px; }
  #content h1 {
    color: #fccd10;
    font-size: 30px;
    text-align: center;
    padding: 0 0 15px; }
  #content h2 {
    color: #fccd10;
    font-size: 25px; }
  #content img {
    border: 2px solid #fccd10;
    padding: 2px; }
  #content .img-left {
    float: left;
    margin: 0 15px 15px 0; }
  #content .img-right {
    float: right;
    margin: 0 0 15px 15px; }
  #content p {
    color: #fff;
    font-size: 16px; }
  #content .brief {
    background: #f5c70f;
    width: 100%;
    display: inline-block;
    float: left;
    margin: 0 15px 15px 0;
    padding: 15px;
    box-sizing: border-box; }
  #content a {
    color: #fccd10;
    text-decoration: underline;
    transition: color .3s;
    display: block; }
    #content a:hover {
      transition: color .3s;
      color: #ffcc01; }
  #content table {
    border-collapse: collapse;
    background: #677d01; }
    #content table th {
      background: #94a34e;
      text-transform: uppercase;
      padding: 10px 15px;
      text-align: left;
      font-weight: 500; }
    #content table caption {
      text-align: right; }
    #content table tr + tr {
      border-bottom: 1px solid #94a34e; }
    #content table tr td {
      padding: 10px 15px; }
  #content .contacts fieldset {
    border: none;
    padding: 10px 0; }
  #content .contacts .form-element {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px; }
  #content .contacts label {
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #808080; }
  #content .contacts input {
    border: 1px solid #94a34e;
    padding: 5px;
    width: 100%;
    box-sizing: border-box; }
    #content .contacts input::-webkit-input-placeholder {
      color: #808080; }
    #content .contacts input::-moz-placeholder {
      color: #808080; }
    #content .contacts input:-webkit-input-placeholder {
      color: #808080; }
    #content .contacts input:-moz-placeholder {
      color: #808080; }
  #content .contacts textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #94a34e;
    color: #808080;
    padding: 15px;
    box-sizing: border-box; }
  #content .contacts button {
    background: transparent;
    border: 1px solid #fccd10;
    padding: 10px 40px;
    text-transform: uppercase;
    color: #fccd10;
    font-size: 20px;
    transition: color .3s;
    cursor: pointer; }
    #content .contacts button:hover {
      transition: color .3s;
      background: #fccd10;
      color: #3b3b3b; }
