$bgcol: #DCBB9A;
$bgbodycol: #FFFFFF;
$hcol: #893C00;
$textcol: #000000;
$imgborder: #893C00;
$briefbgcol: #FADCBA;
$linkcolor: #3D86C2;
$linkhover: #0000FF;
$tablebgcol: #FFFFFF
$thbgcol: #E0E0E0;
$labeltextcol: #808080;
$$inputborder: E0E0E0;
$brief-w: 45%;