$bgcol: #dcbb9a;
$content-bg: #fff;
$textcol: #000;
$maintitlecol: #893c00;
$img-border: #893c00;
$link-hover: #0280f9;
$linkcol: #3d70a1;
$brief-bg: #fadcba;
$table-bg: #fff;
$labelcol: #808080;
$contact-title-bg: #e0e0e0;
$input-border: #e0e0e0;
$brief-w: 45%;