$bgcol: #E0F6FD;
$bgbodycol: #3B3B3B;
$hcol: #FCCD10;
$textcol: #FFFFFF;
$imgborder: #FCCD10;
$briefbgcol: #FFF178;
$linkcolor: #F5C70F;
$linkhover: #FFA500;
$tablebgcol: #677D01;
$thbgcol: #94A34E;
$labeltextcol: #E99D37;
$inputborder: #94A34E;
$brief-w: 100%;