$bgcol: rgba(198, 238, 252, 0.53);
$content-bg: #3b3b3b;
$textcol: #fff;
$maintitlecol: #fccd10;
$img-border: #fccd10;
$link-hover: #ffcc01;
$linkcol: #fccd10;
$brief-bg: #f5c70f;
$table-bg: #677d01;
$contact-title-bg: #94a34e;
$labelcol: #808080;
$contact-title-bg: #94a34e;
$input-border: #94a34e;
$brief-w: 100%;